/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

input[disabled] {pointer-events:none}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #000000;
}

html {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


#todo-app{
  border-radius: 5px;
  /*width: 40%;*/
  width: 754.8px;
  /*height: 50vh;*/
  margin: auto;
  padding: 0;
  background: #37bb81;
}
#todo-app__header{
  background: transparent;
  /*height: 20%;*/
  text-align: center;
  padding: 10px 0px;
}
#todo-app__body{
  height: 80%;
  background: #FFF;
  border-radius: 25px 25px 0 0;
  padding: 20px;
  /*flex-direction: column;*/
  display: grid;
  justify-items: stretch;
}
.todo-app__add{
  display: inline-block;
  margin: 3px 0px;
  /*height: 50%;*/
  width: 80%;
}
.add__input{
  background: white;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
}
.add__button{
  background: white;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
.todo-app__filter{
  background: #88d97f;
  border-radius: 10px 10px 10px 10px;
  border: none;
  padding: 10px 20px;
  /*margin: 3px;*/
  /*display: inline-flex;*/
  display: grid;
  grid-template-columns: 210px auto;
}
.filter_counter{
  /*background: #1b7fd3;*/
  display: inline-flex;
  padding: 0 20px;
}
.filter_buttons{
  /*background: #61b04e;*/
  display: inline-flex;
  justify-content: space-evenly;
  padding: 7px;
}
.filter_buttons button{
  width: 20%;
  background: #37bb81;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
  border: 1px solid #939697;
  font-size: 16px;
}

/*.tasks{*/
/*  margin-left: 10%;*/
/*}*/

input[type='submit'], button, [aria-label] {
  cursor: pointer;
}

#editForm {
  display: none;
}

#groups{
  padding-left: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;

  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
  
  /*transform: rotate(-90deg) translateY(-100px);*/
  /*transform-origin: right top;*/
}
/*#groups > div {*/
/*  transform: rotate(90deg);*/
/*  transform-origin: right top;*/
/*}*/
.todo__group{
  border-radius: 10px 10px 0px 0px;
  padding: 0 8px;
  background: #FFF;
  flex-wrap: nowrap;
  display: inline-flex;
  white-space: nowrap;
}
.todo__input{
  border: none;
  /*outline: 1px solid;*/
  outline: none;
}

#tasks{
  border-radius: 10px;
  position: center;
  /*width: 90%;*/
  /*position: relative;*/
  background-color: #88d97f;
  padding: 30px 20px;
  margin-top: 10px;
}

/*margin: 0 80% 0 auto;*/
/*font-size: 22px;*/
/*width: fit-content;*/

.task{
  border-radius: 5px;
  /*align-items: center;*/
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #ffffff;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  /*display: flex;*/

  display: grid;
  grid-template-columns: 30px auto 30px;
  /*font-size: 22px;*/
}
.task span{
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.task a{
  text-align: center; 
  margin-top: 33%
}
.task input[type='text']{
  margin-left: 10px;
  font-size: 22px;
}
.task input[type='checkbox']{
  filter: hue-rotate(260deg)
}